/* html{
    height: 100%;
} */

body {
    background-color: #ECE8E1;
    font-family: 'IBM Plex Mono', monospace;
    min-height: 100vh;
    padding: 0;
}
.about-content{
    margin-top: 100px
}
.about-wrapper{
    margin-bottom: 4em;
    font-family: 'IBM Plex Mono', monospace;
    width: 89vw;
    margin-left: 50px;
 }

 li {
     font-weight: 600;
     font-size: 14px;
 }

 .timeline {
     font-size: 16px;
     margin-top: 5px;
 }

 .specialThanks {
     margin-top: 100px;
     text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding-bottom: 200px;
 }

.thankstitle{
    display: flex;  
    width: 100vw;
    justify-content: center;
    margin-bottom: 50px;
}
.person {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.person-image {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 50%;
}

.person-1 {
    background-image: url('../thanks/tim.jpg')
}
.person-2 {
     background-image: url('../thanks/brittany.jpg')
}
.person-3 {
     background-image: url('../thanks/michelle.jpg')
}
.person-4 {
     background-image: url('../thanks/steve.jpg')
}
.person-5 {
     background-image: url('../thanks/ryan.jpg')
}
.person-6 {
    background-image: url('../thanks/alex.jpg')
}
.person-7 {
    background-image: url('../thanks/Piero.jpg')
}
.person-8 {
    background-image: url('../thanks/Jeremy.jpeg')
}
.person-9 {
    background-image: url('../thanks/david.png')
}