/* html{
    height: 100%;
} */

body {
    background-color: #ECE8E1;
    font-family: 'IBM Plex Mono', monospace;
    min-height: 100vh;
    padding: 0;
}

.about-wrapper{
    margin-bottom: 4em;
    font-family: 'IBM Plex Mono', monospace;
    width: 89vw;
    margin-left: 50px;
 }

 li {
     font-weight: 600;
     font-size: 14px;
 }

 .timeline {
     font-size: 16px;
     margin-top: 5px;
 }