.Home{
    margin-bottom: 6em;
    font-family: 'IBM Plex Mono', monospace;
 }

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #111; */
    background-image:url('../img/mjdunk.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    font-family: 'IBM Plex Mono';
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Subtitle {
    color: #FF4655;
    margin: 0;
}

.Title{
    color: #ECE8E1;
    font-size: 2em;
    margin-top: 0ex;
}


input {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #ECE8E1 !important;
    border: none;
    border-radius: 2px 0 0 2px;
    padding:24px;
    font-size: 12px;
    width: 40vw;
}



.search-button {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    background-color: #FF4655;
    color:  #ECE8E1;
    border: 8px solid #ECE8E1;
    border-radius: 5px;
    padding: 16px 20px;
}






/* Section 2 */
.intro-wrapper {
    background-color: #ECE8E1;
    background-image: url('../img/background-text.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px;
}

.intro-content {
    width: 60vw;
    text-align: center;
    background-color: #111;
    border-radius: 15px;;
    padding: 50px;
    color: #ECE8E1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sm-title {
    flex: 30%;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.paragraph {
    flex: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.02%;
}

/* Card section */
.card-wrapper {
    background-color: #ECE8E1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 340px;
    /* height: 446px; */
    margin: 17px;
}

.card-image {
    height: 200px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 5px;
}

.card-image:hover {
    transform: scale(1.03);
    cursor: pointer;
}


.card-1 {
    background-image: url('../img/lbj\'.jpeg');
}
.card-2 {
    background-image: url('../img/kobe.webp');
}
.card-3 {
    background-image: url('../img/dwade.gif');
}
.card-4 {
    background-image: url('../img/shaq.gif');
}
.card-5 {
    background-image: url('../img/magic.jpeg');
}
.card-6 {
    background-image: url('../img/steph.jpeg');
}

h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #FF4655;
    margin-bottom: 0;
}

.player-highlight {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 6px;
    line-height: 143.02%;
}


/* Bottom section */
.bottom-wrapper{
    background-color: #ECE8E1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-1 {
    background-image:url('../img/2012-champion.gif');
}

.bottom {
    width: 80vw;
    height: auto;
}

.bottom-image {
    margin-top: 50px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-bottom: 200px;
}




/* resultData */
.resultData {
    display: flex;
    width:54vw;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-top: 5px;
    background-color:hsla(38, 22%, 90%, .6) ;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.resultsData-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: columns;
}

.result-Data-content {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.result-Data-image {
    display: flex;
    justify-content: center;
    margin: 20px 20px 10px 20px;
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.result-Data-name {
    color: #111;
}





@media only screen and (max-width: 725px) {
    .intro-wrapper{
        padding: 50px 0 50px 0;
    }
    .intro-content {
        flex-direction: column;
  
    }
    .sm-title {
        flex: 1;
        padding-right: 0;
    }
    
    .paragraph {
        flex: 1;
        text-align: center;
    }
    
}

@media only screen and (max-width: 515px) {
    .bottom {
        width: 90vw;
        height: 75vh;
    }
    .bottom-image {
        margin-top: 50px;
        height: 400px;
    }
    .Title {
        text-align: center;
        padding: 10px;
    }
    /* .bottom-image {
        margin-bottom: 200px;
    } */
    .resultData {
        display: flex;
        width:80vw;
        justify-content: center;
        align-items: center;  
    }
    input {
        width: 70vw;
    }
}