.Footer {
    background-color: #111;
    width: 100%;
    height: 4em;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
  }

  .Footer .LeftSide-footer {
    flex: 20%;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
  }

  .Footer .LeftSide-footer a {
    font-weight: 700;
    font-style: normal;
    line-height: 31px;
    font-size: 18px;
    color: #FF4655;
    text-decoration: none;
  }

  .Footer .RightSide-footer {
    flex: 20%;
    display: flex;
    justify-content: right;
    padding-right: 50px;
    align-items: center;
  }

  .Footer .Middle-footer {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Footer .Middle-footer .Links a {
    margin: 0 1em;
    font-weight: 400;
    font-size: 14px;
    color: #ECE8E1;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  }

  .social-container a {
      color: #ECE8E1;
      margin: 0 .5em;
  }

  .Nav .RightSide .Links a {
    margin: 0 1em;
    font-weight: 600;
    font-size: 16px;
    color: #ECE8E1;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  }