/* Nav Bar */
.Nav {
  background-color: #111;
  width: 100%;
  height: 4em;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
}

.Nav .LeftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  padding-left: 50px;
  align-items: center;
}

.Nav .LeftSide a {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-style: normal;
  line-height: 31px;
  font-size: 24px;
  color: #FF4655;
  text-decoration: none;
}

.Nav .RightSide {
  flex: 50%;
  display: flex;
  justify-content: right;
  padding-right: 50px;
  align-items: center;
}

.Nav .RightSide button {
  display: none;
}

.Nav .RightSide #hidden {
  display: flex;
}

.Nav .RightSide .Links a {
  margin: 0 1em;
  font-weight: 600;
  font-size: 16px;
  color: #ECE8E1;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
}

/* Media query for navbar */
@media only screen and (max-width: 850px) {
  .Nav .RightSide .Links a {
    font-size: 14px;
  }
  .Nav .RightSide {
    padding-right: 25px;
  }
}

@media only screen and (max-width: 640px) {
  .Nav .RightSide .Links a {
    font-size: 12px;
  }
  .Nav .RightSide {
    padding-right: 5px;
  }
  .Nav .LeftSide {
    padding-left: 20px;
  }
}


@media only screen and (max-width: 515px) {
  .Nav .RightSide .Links {
    display: none;
  }
  .Nav .LeftSide {
    padding-left: 25px;
  }
  .Nav .RightSide {
    padding: 25px;
  }
  .Nav .RightSide button {
    display: flex;
    padding: 6px 12px;
    background-color: #ECE8E1;
    border: none;
    border-radius: 5px;
  } 
  .Nav .RightSide #hidden {
    position: absolute;
    left: 0px;
    top: 4em;
    height: 200px;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Nav .RightSide #hidden a {
    margin-top: 2.5em;
    font-size: 16px;
  }
}